@use '@/styles/_colors.module.scss' as c;

.wrapper {
      min-width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #ddd;
  border-right: 2px solid #ccc;



    // display: flex;
    // overflow: hidden;
    // height: 100vh;
    // align-items: center;
    
        // overflow-x: scroll;

    // width: 100%;
    // max-width: fit-content;
    // position: relative;
}

.wrapper> :nth-child(odd) {
    transform: rotate(10deg);
}

.wrapper> :nth-child(even) {
    transform: rotate(-10deg);
}

.paper {
    max-height: 40%;
    margin: 100px;
    height: 50%;
    border-radius: 30px !important;
    // // border: 2px solid blue;
    padding: 50px;
    // background-color: c.$purple !important;
    box-shadow: 10 0 40px rgba(0, 0, 0, 0.5) !important;

    // display: flex;
    // overflow: visible;
    position: relative;
}

.container {
    min-width: 800px;
    color: c.$white;
    // // border: 2px solid green;

    // background-color: c.$purple;

}

.data {
    // font-size: 5rem;
}

.tapinLogo {
    width: 25%;
    height: auto;
    position: relative;
    top: 170px;
    left: -90px;
}

.memberImage {
    position: relative;
    top: -75px;
    left: 150px;
    object-fit: contain;
    // display: block;
    width: 100%;
    height: auto;
    // transform:  scale(2.2);
    /* shift + enlarge */
}